/* .App {
  text-align: center;
} */
body {
 background-image: url('./CardBackground.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
}

.card-display {
  margin: 0.5rem;
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
h1{
  color: #489c79
}
.form-div{
  display: flex;
  /* background-color: blue; */
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}
input{
 background-color:  black;
 border: 5px solid #bcbb91;
 padding: 8px;
 color: white;
}
::placeholder{
  color: #bcbb91;
}
